@import 'break-points';
@import '~include-media/dist/include-media';
@import '~mathsass/dist/math';
@import '~sass-unitconverter/unitconverter';
@import 'utils';
@import 'options';

// == Fluid Size ===============================================================
$DEFAULT-BREAK: default !default;
$DEFAULT-SIZE:  16px    !default;

@function zip-responsive() {
  @return zip(
    map-values($screen-distances), map-values($screen-sizes      ),
    map-values($breakpoints     ), map-values($breakpoints-height)
  );
}

// -- Fit Size -----------------------------------------------------------------
@function calc-ppi($screen-width, $screen-height, $screen-size) {
  @return sqrt(pow($screen-width, 2) + pow($screen-height, 2)) / $screen-size;
}

@function calc-angle($size) {
  @if not is-len($size) {
    @return $size;
  }
  $size:     num(px($size));
  $values:   zip-responsive();
  $smallest: null;

  @each $value in $values {
    $screen-distance: nth($value, 1) * 100;
    $screen-size:     nth($value, 2);
    $screen-width:    num(nth($value, 3));
    $screen-height:   num(nth($value, 4));

    $ppi: calc-ppi($screen-width, $screen-height, $screen-size);
    $independent-value: $screen-distance * $ppi;
    @if (($smallest == null) or ($smallest > $independent-value)) {
      $smallest: $independent-value;
    }
  }

  $angle: $size * 54 / $smallest;
  $visual-angle: atan($angle) * (10800 / $PI);
  @return count-round($visual-angle, 2);
}

@function calc-size($visual-angle) {
  $check:       is-num($visual-angle);
  $values:      zip-responsive();
  $break-sizes: ();

  @each $value in $values {
    @if $check {
      $screen-distance: nth($value, 1) * 100;
      $screen-size:     nth($value, 2);
      $screen-width:    num(nth($value, 3));
      $screen-height:   num(nth($value, 4));

      $ppi: calc-ppi($screen-width, $screen-height, $screen-size);
      $angle: tan($PI * $visual-angle / 10800);
      $size: $screen-distance * $angle * $ppi / 54;

      $break-sizes: append($break-sizes, ($size));
    }
    @else {
      $break-sizes: append($break-sizes, ($visual-angle));
    }
  }

  @return $break-sizes;
}

@function fit-size($size) {
  $scaled-size: map($size, calc-angle calc-size, $separator: comma); // Each Fit Size

  @return if(is-list($size), call(zip, $scaled-size...), $scaled-size);
}

// -- Fluid --------------------------------------------------------------------
// https://www.madebymike.com.au/writing/fluid-type-calc-examples/
@function fluid-rate($start-size, $end-size, $min-screen, $max-screen) {
  @return ($end-size - $start-size) / ($max-screen - $min-screen);
}
@function fluid-basic-size($start-size, $min-screen, $rate) {
  @return $start-size - $rate * $min-screen;
}

@function fluid-size($start-size, $end-size, $min-screen, $max-screen) {
  $rate: fluid-rate($start-size, $end-size, $min-screen, $max-screen);
  $basic-size: fluid-basic-size($start-size, $min-screen, $rate);

  $sign: "+";
  @if ($basic-size < 0) {
    $sign: "-";
    $basic-size: abs($basic-size);
  }
  @return calc(#{$rate*100}vw #{$sign} #{$basic-size});
}
@function fluid-sizes($now-size, $next-size, $now-break, $next-break) {
  @if not (is-list($now-size) or is-list($next-size)) {
    @return fluid-size($now-size, $next-size, $now-break, $next-break);
  }

  $fluid-sizes: ();
  $each-sizes: zip($now-size, $next-size);
  @each $start-size, $end-size in $each-sizes {
    @if is-len($start-size) and is-len($end-size) {
      $fluid-size: fluid-size($start-size, $end-size, $now-break, $next-break);
      $fluid-sizes: append($fluid-sizes, $fluid-size);
    }
    @else {
      $fluid-sizes: append($fluid-sizes, $start-size);
    }
  }
  @return $fluid-sizes;
}

@function fluid-limit-break($start-size, $end-size, $max-size,
                            $min-screen, $max-screen) {
  $start-size: px($start-size);
  $end-size:   px($end-size);
  $max-size:   px($max-size);
  $min-screen: px($min-screen);
  $max-screen: px($max-screen);

  $rate: fluid-rate($start-size, $end-size, $min-screen, $max-screen);
  $basic-size: fluid-basic-size($start-size, $min-screen, $rate);

  $limit-break: ($max-size - $basic-size) / $rate;
  @return if($limit-break <= 0px, 0px, $limit-break);
}
@function fluid-limit-breaks($now-size, $next-size, $max-size,
                             $now-break, $next-break) {
  @if not (is-list($now-size) or is-list($next-size)) {
    @return fluid-limit-break($now-size, $next-size, $max-size,
    $now-break, $next-break);
  }

  $limit-breaks: ();
  $each-sizes: zip($now-size, $next-size);
  @each $start-size, $end-size in $each-sizes {
    @if is-len($start-size) and is-len($end-size) {
      $limit-break: fluid-limit-break($start-size, $end-size, $max-size,
      $now-break, $next-break);
      $limit-breaks: append($limit-breaks, $limit-break);
    }
  }
  @return min($limit-breaks...);
}

@mixin fluid-media($property, $sizes, $options: empty-map()) {
  $fluid-sizes: to-unit-data($sizes, px);
  $fluid-breakpoints: map-merge(($DEFAULT-BREAK: 0px), to-unit-map($breakpoints, px));
  $fluid-breakpoints: map-sort-values($fluid-breakpoints);
  @if not map-has-key($fluid-sizes, $DEFAULT-BREAK) {
    $default-map: ($DEFAULT-BREAK: $DEAFULT-SIZE);
    $fluid-sizes: map-merge($default-map, $fluid-sizes);
  }
  $limit-break: null;

  $first-size: 1;
  $last-size: length($fluid-breakpoints) - 1;
  @each $i in range($last-size) {
    $now-key:  map-nth($fluid-breakpoints, $i);
    $next-key: map-nth($fluid-breakpoints, $i + 1);

    $now-size:   map-get($fluid-sizes, $now-key );
    $next-size:  map-get($fluid-sizes, $next-key);
    $now-break:  map-get($fluid-breakpoints, $now-key );
    $next-break: map-get($fluid-breakpoints, $next-key);

    // Apply Options
    $fluid-unit: get-option($options, unit);
    $max-size:   get-option($options,  max);

    $now-size:  to-unit-data($now-size,  $fluid-unit);
    $next-size: to-unit-data($next-size, $fluid-unit);
    $max-size:  to-unit-data($max-size,  $fluid-unit);
    @if ($max-size != null) {
      $limit-break: fluid-limit-breaks($now-size, $next-size, $max-size,
      $now-break, $next-break);
      $now-size:  max-size($now-size,  $max-size);
      $next-size: max-size($next-size, $max-size);
    }

    $fluid-size: fluid-sizes($now-size, $next-size, $now-break, $next-break);
    @if $now-key == $DEFAULT-BREAK and not contain(null 0, $limit-break) {
      #{$property}: $fluid-size;
    }
    @if($max-size != null) and contain($first-size $last-size, $i) {
      @if $limit-break == 0px {
        #{$property}: $max-size;
      }
      @else {
        @include media(">=#{$limit-break}") {
          #{$property}: $max-size;
        }
      }
    }
    @else if $now-key != $DEFAULT-BREAK {
      @include media(">=#{$now-key}") {
        #{$property}: $fluid-size;
      }
    }
  }
}

@mixin fluid($property, $size, $options: empty-map(), $type: 'font') {
  @if not is-map($options) {
    $options: (max-size: $options);
  }
  @if      get-option($options, unit) == each and $type == 'font' {
    $options: map-merge($options, (unit: em));
  }
  @else if get-option($options, unit) == each and $type ==  'box' {
    $options: map-merge($options, (unit: px));
  }

  $fit-sizes: fit-size($size);

  $keys:   join($DEFAULT-BREAK, map-keys($breakpoints));
  $values: join(($size,), $fit-sizes);

  @include fluid-media($property, to-map($keys, $values), $options);
}

// -- Interface ----------------------------------------------------------------
// Font
@mixin font-size($size, $options: empty-map()) {
  @include fluid(font-size, $size, $options);
}
@mixin line-height($size, $options: empty-map()) {
  @include fluid(line-height, $size, $options);
}
@mixin text-indent($size, $options: empty-map()) {
  @include fluid(text-indent, $size, $options);
}
@mixin letter-spacing($size, $options: empty-map()) {
  @include fluid(letter-spacing, $size, $options);
}
@mixin word-spacing($size, $options: empty-map()) {
  @include fluid(word-spacing, $size, $options);
}
@mixin tab-size($size, $options: empty-map()) {
  @include fluid(tab-size, $size, $options);
}

// Box
@mixin width($size, $options: empty-map()) {
  @include fluid(width, $size, $options, 'box');
}
@mixin height($size, $options: empty-map()) {
  @include fluid(height, $size, $options, 'box');
}
@mixin border-width($size, $options: empty-map()) {
  @include fluid(border-width, $size, $options, 'box');
}
@mixin margin($size, $options: empty-map()) {
  @include fluid(margin, $size, $options, 'box');
}
@mixin margin-top($size, $options: empty-map()) {
  @include fluid(margin-top, $size, $options, 'box');
}
@mixin margin-bottom($size, $options: empty-map()) {
  @include fluid(margin-bottom, $size, $options, 'box');
}
@mixin margin-left($size, $options: empty-map()) {
  @include fluid(margin-left, $size, $options, 'box');
}
@mixin margin-right($size, $options: empty-map()) {
  @include fluid(margin-right, $size, $options, 'box');
}
@mixin padding($size, $options: empty-map()) {
  @include fluid(padding, $size, $options, 'box');
}
@mixin padding-top($size, $options: empty-map()) {
  @include fluid(padding-top, $size, $options, 'box');
}
@mixin padding-bottom($size, $options: empty-map()) {
  @include fluid(padding-bottom, $size, $options, 'box');
}
@mixin padding-left($size, $options: empty-map()) {
  @include fluid(padding-left, $size, $options, 'box');
}
@mixin padding-right($size, $options: empty-map()) {
  @include fluid(padding-right, $size, $options, 'box');
}
