@charset "UTF-8";
@import 'break-points';
@import '~include-media/dist/include-media';
@import '~mathsass/dist/math';
@import '~sass-unitconverter/unitconverter';
@import 'utils';
@import 'options';

// == Fluid Size ===============================================================
$FIRST-BREAK: default !default;
$DEFAULT-SIZE:  16px    !default;

@function zip-responsive() {
  @return zip(
    map-values($screen-distances), map-values($screen-sizes      ),
    map-values($breakpoints     ), map-values($breakpoints-height)
  );
}

// -- Fit Size -----------------------------------------------------------------
@function calc-ppi($screen-width, $screen-height, $screen-size) {
  @return sqrt(pow($screen-width, 2) + pow($screen-height, 2)) / $screen-size;
}

@function calc-dependency($value) {
  $screen-distance: nth($value, 1) * 100;
  $screen-size:     nth($value, 2);
  $screen-width:    num(nth($value, 3));
  $screen-height:   num(nth($value, 4));

  $ppi: calc-ppi($screen-width, $screen-height, $screen-size);
  $dependent-value: $screen-distance * $ppi;
  @return $dependent-value;
}

@function calc-angle($size, $options) {
  @if not is-len($size) {
    @return $size;
  }

  $size:     num(px($size));
  $device: get-option($options, device);
  $target: null;

  @if contain('min' 'max', $device) {
    $values:   zip-responsive();
    @each $value in $values {
      $dependent-value: calc-dependency($value);

      @if $device == 'min' {
        @if (($target == null) or ($target > $dependent-value)) {
          $target: $dependent-value;
        }
      }
      @if $device == 'max' {
        @if (($target == null) or ($target < $dependent-value)) {
          $target: $dependent-value;
        }
      }
    }
  }
  @else {
    $value: list(map-get($screen-distances, $device), map-get($screen-sizes,       $device),
                 map-get($breakpoints,      $device), map-get($breakpoints-height, $device));
    $target: calc-dependency($value);
  }

  $angle: $size * 54 / $target;
  $visual-angle: atan($angle) * (10800 / $PI);
  @return count-round($visual-angle, 2);
}
@function calc-angles($sizes, $options) {
  $angles: ();
  @each $size in $sizes {
    $angles: append($angles, calc-angle($size, $options));
  }
  @return $angles;
}

@function calc-size($visual-angle) {
  $check:       is-num($visual-angle);
  $values:      zip-responsive();
  $break-sizes: ();

  @each $value in $values {
    @if $check {
      $screen-distance: nth($value, 1) * 100;
      $screen-size:     nth($value, 2);
      $screen-width:    num(nth($value, 3));
      $screen-height:   num(nth($value, 4));

      $ppi: calc-ppi($screen-width, $screen-height, $screen-size);
      $angle: tan($PI * $visual-angle / 10800);
      $size: $screen-distance * $angle * $ppi / 54;

      $break-sizes: append($break-sizes, ($size));
    }
    @else {
      $break-sizes: append($break-sizes, ($visual-angle));
    }
  }

  @return $break-sizes;
}

@function fit-size($size, $options: empty-map()) {
  // Each Fit Size
  $visual-angle: calc-angles($size, $options);
  $scaled-size: map($visual-angle, calc-size, $separator: comma);
  $scaled-size: to-unit-data($scaled-size, px);

  @return if(is-list($size), call(zip, $scaled-size...), $scaled-size);
}

// -- Fluid --------------------------------------------------------------------
// https://www.madebymike.com.au/writing/fluid-type-calc-examples/
@function fluid-rate($start-size, $end-size, $min-screen, $max-screen) {
  @return ($end-size - $start-size) / ($max-screen - $min-screen);
}
@function fluid-basic-size($start-size, $min-screen, $rate) {
  @return $start-size - $rate * $min-screen;
}

@function fluid-size($start-size, $end-size, $min-screen, $max-screen) {
  $rate: fluid-rate($start-size, $end-size, $min-screen, $max-screen);
  $basic-size: fluid-basic-size($start-size, $min-screen, $rate);

  $sign: "+";
  @if ($basic-size < 0) {
    $sign: "-";
    $basic-size: abs($basic-size);
  }
  @return calc(#{$rate*100}vw #{$sign} #{$basic-size});
}
@function fluid-sizes($now-size, $next-size, $now-break, $next-break, $fluid-unit: px) {
  $fluid-sizes: size-break(fluid-size, $fluid-unit,
  $now-size, $next-size, $now-break, $next-break);
  @return $fluid-sizes;
}

@function fluid-limit-break($start-size, $end-size, $max-size,
$min-screen, $max-screen) {
  @if($start-size == $end-size) {
    @return $min-screen;
  }
  $rate: fluid-rate($start-size, $end-size, $min-screen, $max-screen);
  $basic-size: fluid-basic-size($start-size, $min-screen, $rate);

  $limit-break: ($max-size - $basic-size) / $rate;
  $limit-break: count-round($limit-break, 1);
  @return if($limit-break <= 0px, 0px, $limit-break);
}
@function fluid-limit-breaks($now-size, $next-size, $max-size,
$now-break, $next-break, $fluid-unit: px) {
  $limit-breaks: size-break(fluid-limit-break, $fluid-unit,
  $now-size, $next-size, $now-break, $next-break, $max-size);
  @return $limit-breaks;
}

@function fluid-limit-type($first, $last, $now-break, $next-break,
                           $limit-break, $type: 'size') {
  @if $type == 'break' {
    @if $first {
      @return 'pass';
    }

    @if $limit-break <= $now-break {
      @return 'substitution';
    }
    @if $now-break < $limit-break and $limit-break < $next-break {
      @return 'add';
    }
  }

  @if $last and $next-break < $limit-break {
    @return 'add';
  }
  @else { // $type == size or $next-break < $limit-break
    @return 'pass';
  }
}
@function fluid-limit-types($now-key, $last-key, $now-break, $next-break,
                            $limit-breaks, $type: 'size') {
  $first: $now-key == $FIRST-BREAK;
  $last:  $now-key == $last-key;

  $limit-types: ();
  @each $limit-break in $limit-breaks {
    $limit-type:  fluid-limit-type($first, $last, $now-break, $next-break, $limit-break, $type);
    $limit-types: append($limit-types, $limit-type);
  }
  @return $limit-types;
}

@mixin fluid-media-limit($property, $now-key, $fluid-sizes, $max-size, $limit-breaks, $limit-types) {
  $exist-sub: contain($limit-types, 'substitution');
  $exist-add: contain($limit-types, 'add');
  $sorted-index: null;
  @if (not $exist-sub) and (not $exist-add) {
    //all pass
    @include media(">=#{$now-key}") {
      #{$property}: $fluid-sizes;
    }
  }
  @else {
    $sorted-index: list-sort-index($limit-breaks);
  }

  @if $exist-sub {
    @each $idx in range($limit-breaks) {
      $index: nth($sorted-index, $idx);
      @if nth($limit-types, $index) == 'substitution' {
        $fluid-sizes: replace-nth($fluid-sizes, $index, $max-size);
      }
    }
    @include media(">=#{$now-key}") {
      #{$property}: $fluid-sizes;
    }
  }

  @if $exist-add {
    $break-size: length($limit-breaks);
    @each $idx in range($limit-breaks) {
      $now-index: nth($sorted-index, $idx);
      $next-index: if($idx < $break-size, nth($sorted-index, $idx + 1), null);

      $now-type:   nth($limit-types,  $now-index);
      $now-limit:  nth($limit-breaks, $now-index);
      $next-limit: if(is-null($next-index), null, nth($limit-breaks, $next-index));

      // now-limit == next-limit => only substitution
      // next-limit is null || now-limit != next-limit => substitution && apply
      @if $now-type == 'add' {
        @if $now-limit == $next-limit {
          $fluid-sizes: replace-nth($fluid-sizes, $now-index, $max-size);
        }
        @else if is-null($next-limit) or $now-limit != $next-limit {
          $fluid-sizes: replace-nth($fluid-sizes, $now-index, $max-size);
          @include media(">=#{$now-limit}") {
            #{$property}: $fluid-sizes;
          }
        }
      }
    }
  }
}

// -- Medias -------------------------------------------------------------------
@mixin fit-media($property, $now-key, $last-key, $now-size, $next-size,
                 $now-break, $next-break, $fluid-unit, $max-size, $min-size, $next-key) {
  @if (not is-null($max-size)) or (not is-null($min-size)) {
    $now-size:  limit-sizes($now-size,  $max-size, $min-size);
    $next-size: limit-sizes($next-size, $max-size, $min-size);
  }
  $now-size:   to-unit-data($now-size,   $fluid-unit);
  $next-size:  to-unit-data($next-size,  $fluid-unit);

  // Apply Media
  @if $now-key == $FIRST-BREAK {
    #{$property}: $now-size;
  }
  @else {
    @include media(">=#{$now-key}") {
      #{$property}: $now-size;
    }
    @if $now-key == $last-key {
      @include media(">=#{$next-key}") {
        #{$property}: $next-size;
      }
    }
  }
}

@mixin fluid-media($property, $now-key, $last-key, $now-size, $next-size,
                   $now-break, $next-break, $fluid-unit, $max-size, $min-size, $limit) {
  $limit-breaks: null;
  $limit-types:  null;
  @if (not is-null($max-size)) or (not is-null($min-size)) {
    @if $limit == 'size' and $limit != 'break' {
      $now-size:  limit-sizes($now-size,  $max-size, $min-size);
      $next-size: limit-sizes($next-size, $max-size, $min-size);
    }
    $limit-breaks: fluid-limit-breaks($now-size,  $next-size, $max-size,
                                      $now-break, $next-break);
    $limit-types:  fluid-limit-types($now-key, $last-key, $now-break, $next-break,
                                     $limit-breaks, $limit);
    $max-size:  to-unit-data($max-size,  $fluid-unit);
  }
  $now-size:  to-unit-data($now-size,  $fluid-unit);
  $next-size: to-unit-data($next-size, $fluid-unit);
  $fluid-sizes: fluid-sizes($now-size, $next-size, $now-break, $next-break, $fluid-unit);

  // Apply Media
  @if $now-key == $FIRST-BREAK {
    #{$property}: $now-size;
  }

  @if $now-key != $FIRST-BREAK and not is-null($max-size) {
    @include fluid-media-limit($property, $now-key, $fluid-sizes, $max-size, $limit-breaks, $limit-types);
  }
  @else if $now-key != $FIRST-BREAK {
    @include media(">=#{$now-key}") {
      #{$property}: $fluid-sizes;
    }
  }
}

@mixin media-fluid($property, $sizes, $options: empty-map()) {
  $fit-sizes: to-unit-data($sizes, px);
  $fluid-breakpoints: map-merge(($FIRST-BREAK: 0px), to-unit-map($breakpoints, px));
  $fluid-breakpoints: map-sort-values($fluid-breakpoints);
  @if not map-has-key($fit-sizes, $FIRST-BREAK) {
    $default-map: ($FIRST-BREAK: $DEAFULT-SIZE);
    $fit-sizes: map-merge($default-map, $fit-sizes);
  }

  // Apply Options
  $fluid-mode: get-option($options,  mode);
  $fluid-unit: get-option($options,  unit);
  $max-size:   get-option($options,   max);
  $min-size:   get-option($options,   min);
  $limit:      get-option($options, limit);

  $first-size: 1;
  $last-size: length($fluid-breakpoints) - 1;
  $last-key:  map-nth($fluid-breakpoints, $last-size);
  @each $i in range($last-size) {
    $now-key:  map-nth($fluid-breakpoints, $i);
    $next-key: map-nth($fluid-breakpoints, $i + 1);

    $now-size:   map-get($fit-sizes, $now-key );
    $next-size:  map-get($fit-sizes, $next-key);
    $now-break:  map-get($fluid-breakpoints, $now-key );
    $next-break: map-get($fluid-breakpoints, $next-key);

    $args: ($property,  $now-key,    $last-key,   $now-size, $next-size,
            $now-break, $next-break, $fluid-unit, $max-size, $min-size  );
    @if      $fluid-mode == 'fluid' {
      @include fluid-media(append($args, $limit)...);
    }
    @else if $fluid-mode == 'fit' {
      @include fit-media(append($args, $next-key)...);
    }
  }
}

@mixin fluid($property, $size, $options: empty-map(), $type: 'font') {
  // Preprocessing for $options
  @if not is-map($options) {
    $options: (max-size: $options);
  }
  @if      get-option($options, unit) == each and $type == 'font' {
    $options: map-merge($options, (unit: rem));
  }
  @else if get-option($options, unit) == each and $type ==  'box' {
    $options: map-merge($options, (unit:  px));
  }

  // Validate
  $validate-breakpoints: validate-breakpoints();
  $validate-options:     validate-options($options);

  // Single value to List processing
  @if not is-list($size) {
    $size: ($size, );
  }

  $fit-sizes: fit-size($size, $options);
  $keys:   join($FIRST-BREAK, map-keys($breakpoints));
  $values: join(($size,), $fit-sizes);
  $sizes:  to-map($keys, $values);

  @include media-fluid($property, $sizes, $options);
}

// -- Interface ----------------------------------------------------------------
// Font
@mixin font-size($size, $options: empty-map()) {
  @include fluid(font-size, $size, $options);
}
@mixin line-height($size, $options: empty-map()) {
  @include fluid(line-height, $size, $options);
}
@mixin text-indent($size, $options: empty-map()) {
  @include fluid(text-indent, $size, $options);
}
@mixin letter-spacing($size, $options: empty-map()) {
  @include fluid(letter-spacing, $size, $options);
}
@mixin word-spacing($size, $options: empty-map()) {
  @include fluid(word-spacing, $size, $options);
}
@mixin tab-size($size, $options: empty-map()) {
  @include fluid(tab-size, $size, $options);
}

// Box
@mixin width($size, $options: empty-map()) {
  @include fluid(width, $size, $options, 'box');
}
@mixin height($size, $options: empty-map()) {
  @include fluid(height, $size, $options, 'box');
}
@mixin border-width($size, $options: empty-map()) {
  @include fluid(border-width, $size, $options, 'box');
}
@mixin margin($size, $options: empty-map()) {
  @include fluid(margin, $size, $options, 'box');
}
@mixin margin-top($size, $options: empty-map()) {
  @include fluid(margin-top, $size, $options, 'box');
}
@mixin margin-bottom($size, $options: empty-map()) {
  @include fluid(margin-bottom, $size, $options, 'box');
}
@mixin margin-left($size, $options: empty-map()) {
  @include fluid(margin-left, $size, $options, 'box');
}
@mixin margin-right($size, $options: empty-map()) {
  @include fluid(margin-right, $size, $options, 'box');
}
@mixin padding($size, $options: empty-map()) {
  @include fluid(padding, $size, $options, 'box');
}
@mixin padding-top($size, $options: empty-map()) {
  @include fluid(padding-top, $size, $options, 'box');
}
@mixin padding-bottom($size, $options: empty-map()) {
  @include fluid(padding-bottom, $size, $options, 'box');
}
@mixin padding-left($size, $options: empty-map()) {
  @include fluid(padding-left, $size, $options, 'box');
}
@mixin padding-right($size, $options: empty-map()) {
  @include fluid(padding-right, $size, $options, 'box');
}
